// This file is home to defaulted variables which need to be passed to Bulma, or to general defaulted variables which are not part of a particular component

@use "sass:map";

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// oruga defines an extra secondary color
$secondary: #6c757d !default;

// alternative to focus-shadow-size
$active-shadow-size: 0 0 0.5em !default;

// renamed with theme-bulma prefix to avoid namespace collision with the @forward below
$theme-bulma-custom-colors: () !default;

// Merge any user-defined custom colors with the custom colors defined by the theme. This will be passes to Bulma as $custom-colors
// This is the one variable in this file which is not defaulted, but it collects defaulted values so it counts. It's going to be passed into bulma so it has to be here so it comes first
$theme-bulma-custom-colors-merged: map.merge(
    // merge our custom-colors with the overridable map
    ("secondary": $secondary),
    $theme-bulma-custom-colors
);
