// This file is home to variables which DO NOT reference bulma

@use "sass:map";

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// oruga defines an extra secondary color
$secondary: #6c757d !default;

// alternative to focus-shadow-size
$active-shadow-size: 0 0 0.5em !default;

// renamed with theme-bulma prefix to avoid namespace collision with the @forward below
$theme-bulma-custom-colors: () !default;

// Merge any user-defined custom colors with the custom colors defined by the theme. This will be passes to Bulma as $custom-colors
$theme-bulma-custom-colors-merged: map.merge(
    // merge our custom-colors with the overridable map
    ("secondary": $secondary),
    $theme-bulma-custom-colors
);

// It seems like we need ALL defaults to come before the primary bulma import?

$carousel-arrow-icon-spaced: 1.5rem !default;
$carousel-arrow-top: 50% !default;
$carousel-indicator-spaced: 0.5rem !default;
$carousel-overlay-z: 40 !default;

$checkbox-size: 1.25em !default;
$checkbox-background-color: transparent !default;
$checkbox-border-width: 2px !default;

$dropdown-content-max-height: 200px !default;

$dropdown-disabled-opacity: 0.5 !default;
$dropdown-gap: 0px !default;
$dropdown-z: 40 !default;

// Belongs to field
$floating-in-height: 3.25em !default;

$icon-spin-duration: 2s !default;

$loading-background-color: rgba(255, 255, 255, 0.5) !default;
$loading-icon-size: 3em !default;
$loading-icon-size-full-page: 5em !default;
$loading-z: 29 !default;

$notification-margin-bottom: 1.5rem !default;
$notification-notices-padding: 2em !default;
$notification-notices-z: 1000 !default;

$radio-size: 1.25em !default;
