// This file is home to variables which DO reference bulma

@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/css-variables" as css;

$sizes-map: (
    "small": dv.$size-small,
    "normal": dv.$size-normal,
    "medium": dv.$size-medium,
    "large": dv.$size-large,
) !default;

$carousel-arrow-background: css.getVar("scheme-main") !default;
$carousel-arrow-color: css.getVar("primary") !default;
$carousel-indicator-background: rgba(css.getVar("scheme-invert"), 0.5) !default;
$carousel-indicator-border: css.getVar("scheme-main") !default;
$carousel-indicator-color: css.getVar("primary") !default;
$carousel-overlay-background: rgba(css.getVar("scheme-invert"), 0.86) !default;

$checkbox-colors: dv.$colors !default;
$checkbox-border-color: css.getVar("grey") !default;
$checkbox-border-radius: css.getVar("radius") !default;
$checkbox-checkmark-color: css.getVar("primary-invert") !default;
$checkbox-focus-color: hsl(from css.getVar("grey") h s l / 80%) !default;
$checkbox-active-focus-color: hsl(
        from css.getVar("checkbox-active-background-color") h s l / 80%
) !default;
$checkbox-active-background-color: css.getVar("primary") !default;
$checkbox-shadow: css.getVar("shadow");

$datepicker-colors: dv.$colors !default;
$datepicker-header-color: css.getVar("grey") !default;
$datepicker-today-border: solid 1px rgba(css.getVar("primary"), 0.5) !default;
$datepicker-item-color: css.getVar("grey-dark") !default;
$datepicker-item-disabled-color: css.getVar("grey-light") !default;
$datepicker-item-hover-color: css.getVar("scheme-invert") !default;
$datepicker-item-hover-background-color: css.getVar("background") !default;
$datepicker-item-selected-color: css.getVar("primary-invert") !default;
$datepicker-item-selected-background-color: css.getVar("primary") !default;
$datepicker-event-background-color: css.getVar("grey-light") !default;

$dropdown-mobile-breakpoint: iv.$desktop !default;
$dropdown-background-background-color: hsla(
        #{css.getVar("scheme-h")},
        #{css.getVar("scheme-s")},
        #{css.getVar("scheme-invert-l")},
        0.86
) !default;

$radio-colors: dv.$colors !default;
$radio-active-background-color: css.getVar("primary") !default;
$radio-border-color: css.getVar("grey") !default;
$radio-shadow: css.getVar("shadow");

$sidebar-colors: dv.$colors !default;
$sidebar-background-background-color: hsla(
        #{css.getVar("scheme-h")},
        #{css.getVar("scheme-s")},
        #{css.getVar("scheme-invert-l")},
        0.86
) !default;
$sidebar-shadow: css.getVar("shadow");

$skeleton-border-radius: css.getVar("radius") !default;

$slider-colors: dv.$colors !default;
$slider-radius: css.getVar("radius") !default;
$slider-background: css.getVar("grey-lighter") !default;
$slider-color: css.getVar("primary") !default;
$slider-track-border: 0px solid css.getVar("grey") !default;
$slider-track-shadow: 0px 0px 0px css.getVar("grey") !default;
$slider-thumb-background: css.getVar("scheme-main") !default;
$slider-thumb-radius: css.getVar("radius") !default;
$slider-thumb-border: 1px solid css.getVar("grey-light") !default;
$slider-tick-radius: css.getVar("radius") !default;
$slider-tick-background: css.getVar("grey-light") !default;
