@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/css-variables" as css;

$sizes-map: (
    "small": dv.$size-small,
    "normal": dv.$size-normal,
    "medium": dv.$size-medium,
    "large": dv.$size-large,
) !default;

$carousel-arrow-background: css.getVar("scheme-main") !default;
$carousel-arrow-color: css.getVar("primary") !default;
$carousel-indicator-background: rgba(css.getVar("scheme-invert"), 0.5) !default;
$carousel-indicator-border: css.getVar("scheme-main") !default;
$carousel-indicator-color: css.getVar("primary") !default;
$carousel-overlay-background: rgba(css.getVar("scheme-invert"), 0.86) !default;

$checkbox-colors: dv.$colors !default;
$checkbox-border-color: css.getVar("grey") !default;
$checkbox-border-radius: css.getVar("radius") !default;
$checkbox-checkmark-color: css.getVar("primary-invert") !default;
$checkbox-focus-color: hsl(from css.getVar("grey") h s l / 80%) !default;
$checkbox-active-focus-color: hsl(
        from css.getVar("checkbox-active-background-color") h s l / 80%
) !default;
$checkbox-active-background-color: css.getVar("primary") !default;
$checkbox-shadow: css.getVar("shadow");
