
@import "./buefy/utils/_all";

@import './buefy/autocomplete.scss';
@import './buefy/form.scss';
@import './buefy/tagsinput.scss';
@import './buefy/switch.scss';
@import './buefy/pagination.scss';
@import './buefy/table.scss';
@import './buefy/tabs.scss';
@import './buefy/slider.scss';
@import './buefy/tooltip.scss';
@import './buefy/steps.scss';
@import './buefy/skeleton.scss';
@import './buefy/dropdown.scss';
@import './buefy/datepicker.scss';
