
@import "./buefy/utils/_all";

@import './buefy/autocomplete.scss';
@import './buefy/form.scss';
@import './buefy/taginput.scss';
@import './buefy/switch.scss';
@import './buefy/pagination.scss';
@import './buefy/table.scss';
@import './buefy/tabs.scss';
@import './buefy/slider.scss';
@import './buefy/tooltip.scss';
@import './buefy/steps.scss';
@import './buefy/skeleton.scss';
@import './buefy/dropdown.scss';
@import './buefy/datepicker.scss';
@import './buefy/modal.scss';
@import './buefy/checkbox.scss';
@import './buefy/sidebar.scss';
@import './buefy/timepicker';
@import './buefy/radio.scss';
