
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/form/shared";

.has-icons {
    & ~ .icon {
        color: $input-icon-color;
        height: $input-height;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: $input-height;
        z-index: 4;
    }
    &:focus ~ .icon {
        color: $input-icon-active-color
    }
    &.is-small ~ .icon {
        font-size: $size-small
    }
    &.is-medium ~ .icon {
        font-size: $size-medium
    }
    &.is-large ~ .icon {
        font-size: $size-large
    }
}

.has-icons-left {
    padding-left: $input-height;
    & ~ .icon {
        &.is-left {
            left: 0;
        }
    }
}

.has-icons-right {
    padding-right: $input-height;
    & ~ .icon {
        &.is-right {
            right: 0;
        }
    }
}

