/********************************************
*   Variable overrides and theme variables
*********************************************/
@use "sass:map";

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// oruga defines an extra secondary color
$secondary: #6c757d !default;

// make the custom colors extandable by providing a new variable to override
$custom-colors: () !default;

@forward "bulma/sass/utilities/derived-variables" with (
    // adding aditional colors to colors map
    $custom-colors:
        map.merge(
            // merge our custom-colors with the overridable map
            ("secondary": $secondary),
            $custom-colors
        )
);

@use "bulma/sass/utilities/derived-variables" as vars;

$size-map: (
    "small": vars.$size-small,
    "normal": vars.$size-normal,
    "medium": vars.$size-medium,
    "large": vars.$size-large,
) !default;
