@use "bulma/sass" as bulma;

$primary-invert: bulma.$white !default;
$input-focus-box-shadow-size: bulma.$input-focus-shadow-size !default;
$input-focus-box-shadow-color: bulma.$input-focus-l !default;
