@use "bulma/sass/utilities/css-variables" as css;

/* @docs */
$tabs-focused-outline: none !default;
$tabs-link-focus-border-bottom-color: css.getVar("tabs-link-hover-border-bottom-color") !default;
$tabs-link-focus-active-border-bottom-color: css.getVar("tabs-link-active-border-bottom-color") !default;
$tabs-boxed-link-focus-active-background-color: css.getVar("tabs-boxed-link-active-background-color") !default;
$tabs-boxed-link-focus-background-color: css.getVar("tabs-boxed-link-hover-background-color") !default;
$tabs-boxed-link-focus-active-border-bottom-color: css.getVar("tabs-boxed-link-active-border-bottom-color") !default;
$tabs-boxed-link-focus-border-bottom-color: css.getVar("tabs-boxed-link-hover-border-bottom-color") !default;
$tabs-toggle-link-focus-active-background-color: css.getVar("tabs-toggle-link-active-background-color") !default;
$tabs-toggle-link-focus-background-color: css.getVar("tabs-toggle-link-hover-background-color") !default;
$tabs-toggle-link-focus-active-border-color: css.getVar("tabs-toggle-link-active-border-color") !default;
$tabs-toggle-link-focus-border-color: css.getVar("tabs-toggle-link-hover-border-color") !default;
/* @docs */
