@use "bulma/sass" as bulma;
@use "utils/variables-to-migrate" as migrate;

$dropdown-content-max-height: 200px !default;

.autocomplete {
    position: relative;
    .dropdown-menu {
        display: block;
        width: 100%;
        &.is-opened-top {
            top: auto;
            bottom: 100%;
        }
    }
    .dropdown-content {
        overflow: auto;
        max-height: $dropdown-content-max-height;
    }
    .dropdown-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // added due to div instead of a
        cursor: pointer;
        &.is-hovered,
        &:hover {
            background: migrate.$dropdown-item-hover-background-color;
            color: migrate.$dropdown-item-hover-color;
        }
        &.is-disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
