@use "bulma/sass/utilities/css-variables" as css;

.button {
    @include css.register-vars(
        (
            "button-l": css.getVar("button-color-l"),
            "focus-h": css.getVar("button-h"),
            "focus-s": css.getVar("button-s"),
            "focus-l": css.getVar("button-l"),
        )
    );

    .button-wrapper {
        display: inline-flex;
        justify-content: center;
    }

    &:has(.tag.badge) {
        position: relative;
    }
}
