.collapse {
    &-trigger {
        cursor: pointer;
        display: inline-block;

        &.is-expanded {
            width: 100%;
        }
    }

    &-content {
        display: inherit;
    }
}
