@use "bulma/sass/utilities/css-variables" as css;
@use "../utils/variables" as vars;

.dropdown {
    @include css.register-vars(
        (
            "dropdown-content-max-height": #{vars.$dropdown-content-max-height},
            "dropdown-background-background-color":
                #{vars.$dropdown-background-background-color},
            "dropdown-disabled-opacity": #{vars.$dropdown-disabled-opacity},
            "dropdown-gap": #{vars.$dropdown-gap},
        )
    );

    &-menu {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        border-width: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &-content {
        max-height: css.getVar("dropdown-content-max-height");
    }

    &-item {
        background-color: hsl(
            #{css.getVar("dropdown-item-h")},
            #{css.getVar("dropdown-item-s")},
            calc(
                #{css.getVar("dropdown-item-background-l")} +
                    #{css.getVar("dropdown-item-background-l-delta")}
            )
        );

        cursor: pointer;

        &.is-disabled {
            cursor: not-allowed;
            opacity: css.getVar("dropdown-disabled-opacity");

            &:hover {
                background: inherit;
                color: inherit;
            }
        }

        &.is-active {
            @include css.register-vars(
                (
                    "dropdown-item-h": css.getVar("primary-h"),
                    "dropdown-item-s": css.getVar("primary-s"),
                    "dropdown-item-l": css.getVar("primary-l"),
                    "dropdown-item-background-l": css.getVar("primary-l"),
                    "dropdown-item-color-l": css.getVar("primary-invert-l"),
                )
            );
        }

        &.is-focused,
        &:hover {
            @include css.register-vars(
                (
                    "dropdown-item-background-l-delta": css.getVar(
                            "dropdown-item-hover-background-l-delta"
                        ),
                    "dropdown-item-border-l-delta": css.getVar(
                            "dropdown-item-hover-border-l-delta"
                        ),
                )
            );
        }
    }

    &.has-overlay .dropdown-menu {
        cursor: pointer;

        &::backdrop {
            background-color: css.getVar(
                "dropdown-background-background-color"
            );
        }
    }

    &.is-hoverable {
        .background {
            display: none;
        }
    }

    &.is-disabled {
        opacity: css.getVar("dropdown-disabled-opacity");
        cursor: not-allowed;

        .dropdown-trigger {
            pointer-events: none;
        }
    }

    &.is-expanded {
        width: 100%;

        .dropdown-trigger {
            width: 100%;
        }

        &.is-modal .dropdown-menu,
        .dropdown-menu {
            width: anchor-size(width);
        }
    }

    &.is-modal {
        > .dropdown-menu {
            @include css.register-vars(
                (
                    "dropdown-modal-width": #{vars.$dropdown-modal-width},
                    "dropdown-modal-min-width":
                        #{vars.$dropdown-modal-min-width},
                    "dropdown-modal-max-width":
                        #{vars.$dropdown-modal-max-width},
                )
            );

            width: clamp(
                css.getVar("dropdown-modal-min-width"),
                css.getVar("dropdown-modal-width"),
                css.getVar("dropdown-modal-max-width")
            );
            max-height: calc(100vh - 120px);
            white-space: normal;
            overflow-y: auto;

            > .dropdown-item {
                padding: 1rem 1.5rem;
            }
        }
    }
}
