@use "sass:list";

@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;
@use "../utils/variables" as vars;

.control {
    display: inline-block;

    &.is-expanded {
        display: block;
        width: 100%;
    }

    > .icon {
        @each $name, $value in vars.$sizes-map {
            &.is-#{$name} {
                font-size: #{$value};
            }
        }
    }

    // size variants
    &.is-small > input,
    &.is-small > textarea {
        @include controls.control-small;
    }

    &.is-medium > input,
    &.is-medium > textarea {
        @include controls.control-medium;
    }

    &.is-large > input,
    &.is-large > textarea {
        @include controls.control-large;
    }

    // variant colors
    @each $name, $pair in vars.$input-colors {
        &.is-#{$name} {
            > input,
            > textarea {
                @include css.register-vars(
                    (
                        "input-h": #{css.getVar($name + "-h")},
                        "input-s": #{css.getVar($name + "-s")},
                        "input-l": #{css.getVar($name + "-l")},
                        "input-focus-h": #{css.getVar($name + "-h")},
                        "input-focus-s": #{css.getVar($name + "-s")},
                        "input-focus-l": #{css.getVar($name + "-l")},
                        "input-border-l": #{css.getVar($name + "-l")},
                    )
                );
            }
        }
    }

    // Re-creates the left icon style of https://github.com/jgthms/bulma/blob/main/sass/form/tools.scss#L275 to fit Oruga-style markup
    &.has-icons-left .icon {
        &:has(+ .input:hover),
        &:has(+ .select:hover) {
            color: css.getVar("input-icon-hover-color");
        }

        &:has(+ .input:focus),
        &:has(+ .select:focus) {
            color: css.getVar("input-icon-focus-color");
        }
    }
}
