@use "bulma/sass/components/panel"; // include tabs component to extend from
@use "bulma/sass/utilities/css-variables" as css;
@use "../utils/variables" as vars;

.listbox {
    @include css.register-vars(
        (
            "listbox-disabled-opacity": #{vars.$listbox-disabled-opacity},
            "listbox-item-hover-background-color":
                #{vars.$listbox-item-hover-background-color},
            "listbox-item-active-background-color":
                #{vars.$listbox-item-active-background-color},
        )
    );

    overflow: hidden;

    &.is-disabled,
    .is-disabled {
        opacity: css.getVar("listbox-disabled-opacity");

        &:hover {
            background: inherit;
            color: inherit;
        }
    }

    .panel-list {
        &:only-child{
            border-radius: css.getVar("panel-radius") ;
        }

        &:first-child{
            border-top-left-radius: css.getVar("panel-radius") ;
            border-top-right-radius: css.getVar("panel-radius") ;
        }

        &:last-child{
            border-bottom-left-radius: css.getVar("panel-radius") ;
            border-bottom-right-radius: css.getVar("panel-radius") ;
        }

        &:not(:last-child) {
            &,
            > .list-item:last-child {
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
                border-bottom: css.getVar("panel-item-border");
            }
        }
    }

    &.selectable {
        .panel-list {
            .is-focused {
                background-color: css.getVar(
                    "listbox-item-hover-background-color"
                );
            }

            .is-active {
                background-color: css.getVar(
                    "listbox-item-active-background-color"
                );
            }
        }
    }
}
