@use "bulma/sass/utilities/mixins" as mixins;

.modal {
    > .is-full-screen,
    > .is-full-screen > .modal-card {
        width: 100%;
        height: 100%;
        max-height: 100vh;
        margin: 0;
    }
}
