@use "bulma/sass" as bulma;

.pagination {
    .pagination-next,
    .pagination-previous {
        padding-left: bulma.$pagination-nav-padding-left;
        padding-right: bulma.$pagination-nav-padding-right;
        &.is-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    &.is-simple {
        justify-content: normal;
        &.is-centered {
            justify-content: center;
        }
        &.is-right {
            justify-content: flex-end;
        }
    }
    .is-current {
        pointer-events: none;
        cursor: not-allowed;
    }
}
