@use "bulma/sass/utilities/css-variables" as css;

.pagination {
    .pagination-next,
    .pagination-previous {
        padding-left: css.getVar("pagination-nav-padding-left");
        padding-right: css.getVar("pagination-nav-padding-right");

        &.is-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    &.is-simple {
        justify-content: normal;

        &.is-left {
            justify-content: flex-start;
        }

        &.is-centered {
            justify-content: center;
        }

        &.is-right {
            justify-content: flex-end;
        }
    }

    .is-current {
        pointer-events: none;
        cursor: not-allowed;
    }
}
