@use "sass:list";

@use "../utils/functions" as fn;
@use "../utils/variables" as vars;
@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;
@use "bulma/sass/utilities/mixins" as mixins;

.radio {
    @include css.register-vars(
        (
            "radio-active-background-color":
                #{vars.$radio-active-background-color},
            "radio-border-color": #{vars.$radio-border-color},
            "radio-size": #{vars.$radio-size},
            "radio-shadow": #{vars.$radio-shadow},
        )
    );

    @include mixins.unselectable;

    &.control {
        display: inline-flex;
        align-items: center;

        .control-label {
            padding-left: css.getVar("control-padding-horizontal");
            padding-right: css.getVar("control-padding-horizontal");
            cursor: pointer;
        }
    }

    .check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        font-size: inherit;
        width: css.getVar("radio-size");
        height: css.getVar("radio-size");
        flex-shrink: 0;
        border-radius: 50% !important;
        border: 2px solid css.getVar("radio-border-color");
        transition: background vars.$speed-slow css.getVar("easing");
        box-shadow: css.getVar("radio-shadow");

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: css.getVar("radio-size");
            height: css.getVar("radio-size");
            border-radius: 50%;
            transition: transform vars.$speed-slow css.getVar("easing");
            transform: scale(0);
            background: css.getVar("radio-active-background-color");
        }

        &:focus {
            box-shadow: css.getVar("active-shadow-size")
                hsl(from (css.getVar("radio-border-color") h s l / 80%));
        }

        &:checked {
            @include css.register-vars(
                (
                    "radio-border-color": #{css.getVar(
                            "radio-active-background-color"
                        )},
                )
            );

            &:before {
                transform: scale(0.5);
            }
        }

        &:hover:not(:disabled) {
            @include css.register-vars(
                (
                    "radio-border-color": #{css.getVar(
                            "radio-active-background-color"
                        )},
                )
            );
            border-color: css.getVar("radio-border-color");
        }
    }

    &.is-disabled {
        opacity: 0.5;
        color: css.getVar("input-disabled-color");

        &,
        input[disabled],
        .control-label {
            cursor: unset;
        }
    }

    // size variants
    @each $name, $value in vars.$sizes-map {
        &.is-#{$name} {
            font-size: #{$value};
        }
    }

    // variant colors
    @each $name, $pair in vars.$radio-colors {
        $color: list.nth($pair, 1);

        &.is-#{$name} {
            @include css.register-vars(
                (
                    "radio-active-background-color": #{$color},
                    "radio-checked-background": url(fn.checkmark($color)),
                    "radio-border-color": #{$color},
                    "radio-active-focus-color": #{$color},
                )
            );
        }
    }
}
