@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;

.select {
    select {
        &.is-empty {
            color: rgba(css.getVar("grey"), 0.7);
        }

        &:has(+ .icon) {
            padding-right: css.getVar("input-height");
        }
    }

    &.has-icons-left {
        select {
            padding-left: css.getVar("input-height");
        }
    }

    &.has-icons-right {
        select {
            padding-right: css.getVar("input-height");
        }
    }

    .icon {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: css.getVar("input-height");
        height: css.getVar("input-height");

        &.is-right {
            right: 0;
        }
    }
}
