@use "sass:list";

@use "utils/variables" as var;
@use "bulma/sass/utilities/initial-variables" as vars;
@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/mixins" as mixins;

/* @docs */
$sidebar-colors: var.$colors !default;
$sidebar-z: 40;
$sidebar-background-background-color: hsla(
    #{css.getVar("scheme-h")},
    #{css.getVar("scheme-s")},
    #{css.getVar("scheme-invert-l")},
    0.86
) !default;
$sidebar-shadow: css.getVar("shadow");
$sidebar-width: 260px !default;
$sidebar-height: 260px !default;
$sidebar-mobile-width: 80px !default;
$sidebar-mobile-breakpoint: vars.$tablet !default;
/* @docs */

.sidebar {
    @include css.register-vars(
        (
            "sidebar-z": #{$sidebar-z},
            "sidebar-background-background-color": #{$sidebar-background-background-color},
            "sidebar-shadow": #{$sidebar-shadow},
            "sidebar-width": #{$sidebar-width},
            "sidebar-height": #{$sidebar-height},
            "sidebar-mobile-width": #{$sidebar-mobile-width},
            "sidebar-mobile-breakpoint": #{$sidebar-mobile-breakpoint},
        )
    );

    .sidebar-content {
        background-color: css.getVar("background");
        box-shadow: css.getVar("sidebar-shadow");
        width: css.getVar("sidebar-width");
        height: css.getVar("sidebar-height");
        position: fixed;
        transition: width var.$speed-slow css.getVar("easing");
        z-index: css.getVar("sidebar-z");

        @each $name, $pair in $sidebar-colors {
            $color: list.nth($pair, 1);

            &.is-#{$name} {
                @include css.register-vars(
                    (
                        "sidebar-background-background-color": #{$color},
                    )
                );
            }
        }

        &.is-left {
            @include css.register-vars(
                (
                    "sidebar-height": 100%,
                )
            );

            top: 0;
            left: 0;
            bottom: 0;
        }

        &.is-right {
            @include css.register-vars(
                (
                    "sidebar-height": 100%,
                )
            );

            top: 0;
            right: 0;
            bottom: 0;
        }

        &.is-top {
            @include css.register-vars(
                (
                    "sidebar-width": 100%,
                )
            );

            top: 0;
            right: 0;
            left: 0;
        }

        &.is-bottom {
            @include css.register-vars(
                (
                    "sidebar-width": 100%,
                )
            );

            right: 0;
            left: 0;
            bottom: 0;
        }

        &.is-fullwidth {
            @include css.register-vars(
                (
                    "sidebar-width": 100%,
                )
            );
        }

        &.is-fullheight {
            @include css.register-vars(
                (
                    "sidebar-height": 100%,
                )
            );
        }

        &.is-mini {
            width: css.getVar("sidebar-mobile-width");

            &.is-expanded:hover:not(.is-fullwidth) {
                width: css.getVar("sidebar-width");
            }
        }
    }

    .sidebar-background {
        @include mixins.overlay;

        position: fixed;
        background-color: css.getVar("sidebar-background-background-color");
        z-index: css.getVar("sidebar-z");
    }

    &.is-inline .sidebar-content {
        @include css.register-vars(
            (
                "sidebar-z": 0,
            )
        );

        position: relative;
    }
}
