@use "sass:list";

@use "../utils/functions" as fn;
@use "../utils/variables" as vars;
@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;
@use "bulma/sass/utilities/mixins" as mixins;

.switch {
    @include css.register-vars(
        (
            "switch-width": #{vars.$switch-width},
            "switch-padding": #{vars.$switch-padding},
            "switch-active-background-color":
                #{vars.$switch-active-background-color},
            "switch-background-color": #{vars.$switch-background-color},
            "switch-shadow": #{vars.$switch-shadow},
        )
    );

    @include mixins.unselectable;

    &.control {
        display: inline-flex;
        align-items: center;

        .control-label {
            padding-left: css.getVar("control-padding-horizontal");
            padding-right: css.getVar("control-padding-horizontal");
            cursor: pointer;
        }
    }

    .check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        font-size: inherit;
        width: css.getVar("switch-width");
        padding: css.getVar("switch-padding");
        flex-shrink: 0;
        background: css.getVar("switch-background-color");
        border-radius: css.getVar("radius");
        transition:
            background vars.$speed-slow css.getVar("easing"),
            box-shadow vars.$speed-slow css.getVar("easing");
        box-shadow: css.getVar("switch-shadow");

        &:before {
            content: "";
            display: block;
            font-size: inherit;
            border-radius: css.getVar("radius");
            width: calc(
                (
                        css.getVar("switch-width") - css.getVar(
                                "switch-padding"
                            ) *
                            2
                    ) /
                    2
            );
            height: calc(
                (
                        css.getVar("switch-width") - css.getVar(
                                "switch-padding"
                            ) *
                            2
                    ) *
                    0.5
            );
            background: css.getVar("background");
            box-shadow:
                0 3px 1px 0 rgba(0, 0, 0, 0.05),
                0 2px 2px 0 rgba(0, 0, 0, 0.1),
                0 3px 3px 0 rgba(0, 0, 0, 0.05);
            transition: transform vars.$speed-slow css.getVar("easing");
            will-change: transform;
            transform-origin: left;
        }

        &:checked {
            background: css.getVar("switch-active-background-color");

            &:before {
                transform: translate3d(100%, 0, 0);
            }
        }

        &:focus,
        &:active {
            outline: none;
            box-shadow: css.getVar("active-shadow-size")
                hsl(from (css.getVar("switch-background-color") h s l / 80%));

            &:checked {
                box-shadow: css.getVar("active-shadow-size")
                    hsl(
                        from
                            (
                                css.getVar("switch-active-background-color") h s
                                    l / 80%
                            )
                    );
            }
        }
    }

    &:hover {
        input[type="checkbox"]:checked {
            background: hsl(
                from (css.getVar("switch-active-background-color") h s l / 90%)
            );
        }
    }

    &.has-left-label {
        flex-direction: row-reverse;
    }

    &.is-disabled {
        opacity: 0.5;
        color: css.getVar("input-disabled-color");

        &,
        input[disabled],
        .control-label {
            cursor: unset;
        }
    }

    &.is-rounded input {
        border-radius: css.getVar("radius-rounded");

        &:before {
            border-radius: css.getVar("radius-rounded");
        }
    }

    // size variants
    @each $name, $value in vars.$sizes-map {
        &.is-#{$name} {
            font-size: #{$value};
        }
    }

    // variant colors
    @each $name, $pair in vars.$switch-colors {
        $color: list.nth($pair, 1);

        &.is-#{$name}-passive {
            @include css.register-vars(
                (
                    "switch-background-color": #{$color},
                )
            );
        }

        &.is-#{$name} {
            @include css.register-vars(
                (
                    "switch-active-background-color": #{$color},
                )
            );
        }
    }
}
