@use "bulma/sass/components/tabs"; // include tabs component to extend from
@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/mixins" as mixins;
@use "utils/variables" as vars;

.tabs-wrapper {
    .tabs {
        @include css.register-vars(
            (
                "tabs-focused-outline": #{vars.$tabs-focused-outline},
                "tabs-link-focus-border-bottom-color": #{vars.$tabs-link-focus-border-bottom-color},
                "tabs-link-focus-active-border-bottom-color": #{vars.$tabs-link-focus-active-border-bottom-color},
                "tabs-boxed-link-focus-border-bottom-color": #{vars.$tabs-boxed-link-focus-border-bottom-color},
                "tabs-boxed-link-focus-background-color": #{vars.$tabs-boxed-link-focus-background-color},
                "tabs-boxed-link-focus-active-background-color": #{vars.$tabs-boxed-link-focus-active-background-color},
                "tabs-boxed-link-focus-active-border-bottom-color": #{vars.$tabs-boxed-link-focus-active-border-bottom-color},
                "tabs-toggle-link-focus-background-color": #{vars.$tabs-toggle-link-focus-background-color},
                "tabs-toggle-link-focus-border-color": #{vars.$tabs-toggle-link-focus-border-color},
                "tabs-toggle-link-focus-active-background-color": #{vars.$tabs-toggle-link-focus-active-background-color},
                "tabs-toggle-link-focus-active-border-color": #{vars.$tabs-toggle-link-focus-active-border-color},
            )
        );

        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        margin-bottom: 0;
        flex-shrink: 0;

        .tab-link {
            @extend a !optional; // add button bulma `tabs a` styling
            height: 100%;

            &:focus {
                outline: css.getVar("tabs-focused-outline");
                border-bottom-color: css.getVar(
                    "tabs-link-focus-border-bottom-color"
                );
            }

            &.is-active {
                border-bottom-color: css.getVar(
                    "tabs-link-active-border-bottom-color"
                );
                color: css.getVar("tabs-link-active-color");

                &:focus {
                    border-bottom-color: css.getVar(
                        "tabs-link-focus-active-border-bottom-color"
                    );
                }
            }

            &.is-disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.5;
            }
        }

        &.is-left {
            justify-content: flex-start;
        }

        &.is-centered {
            justify-content: center;
        }

        &.is-right {
            justify-content: flex-end;
        }

        &:not(.is-toggle):not(.is-toggle-rounded):not(.is-pills) {
            border-bottom-color: css.getVar("tabs-border-bottom-color");
            border-bottom-style: css.getVar("tabs-border-bottom-style");
            border-bottom-width: css.getVar("tabs-border-bottom-width");
        }

        // Styles
        &.is-boxed {
            .tab-link {
                @include mixins.ltr {
                    border-radius: css.getVar("tabs-boxed-link-radius")
                        css.getVar("tabs-boxed-link-radius") 0 0;
                }
                @include mixins.rtl {
                    border-radius: 0 0 css.getVar("tabs-boxed-link-radius")
                        css.getVar("tabs-boxed-link-radius");
                }

                &:focus {
                    background-color: css.getVar(
                        "tabs-boxed-link-focus-background-color"
                    );
                    border-bottom-color: css.getVar(
                        "tabs-boxed-link-focus-border-bottom-color"
                    );
                }

                &.is-active {
                    background-color: css.getVar(
                        "tabs-boxed-link-active-background-color"
                    );
                    border-color: css.getVar(
                        "tabs-boxed-link-active-border-color"
                    );
                    border-bottom-color: css.getVar(
                        "tabs-boxed-link-active-border-bottom-color"
                    );

                    &:focus {
                        background-color: css.getVar(
                            "tabs-boxed-link-focus-active-background-color"
                        );
                        border-bottom-color: css.getVar(
                            "tabs-boxed-link-focus-active-border-bottom-color"
                        );
                    }
                }
            }
        }

        &.is-toggle,
        &.is-toggle-rounded {
            .tab-link {
                &:focus {
                    background-color: vars.$tabs-toggle-link-focus-background-color;
                    border-color: vars.$tabs-toggle-link-focus-border-color;
                }

                &.is-active {
                    background-color: css.getVar(
                        "tabs-toggle-link-active-background-color"
                    );
                    border-color: css.getVar(
                        "tabs-toggle-link-active-border-color"
                    );
                    color: css.getVar("tabs-toggle-link-active-color");
                    z-index: 1;

                    &:focus {
                        background-color: vars.$tabs-toggle-link-focus-active-background-color;
                        border-color: vars.$tabs-toggle-link-focus-active-border-color;
                    }
                }
            }

            .tab {
                & + .tab {
                    @include mixins.ltr-property(
                        "margin",
                        calc(-1 * css.getVar("tabs-toggle-link-border-width")),
                        false
                    );
                }

                &:first-child .tab-link {
                    @include mixins.ltr {
                        border-top-left-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                        border-bottom-left-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                    }
                    @include mixins.rtl {
                        border-top-right-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                        border-bottom-right-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                    }
                }

                &:last-child .tab-link {
                    @include mixins.ltr {
                        border-top-right-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                        border-bottom-right-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                    }
                    @include mixins.rtl {
                        border-top-left-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                        border-bottom-left-radius: css.getVar(
                            "tabs-toggle-link-radius"
                        );
                    }
                }
            }
        }

        &.is-toggle-rounded {
            .tab {
                &:first-child .tab-link {
                    @include mixins.ltr {
                        border-bottom-left-radius: css.getVar("radius-rounded");
                        border-top-left-radius: css.getVar("radius-rounded");
                        padding-left: 1.25em;
                    }
                    @include mixins.rtl {
                        border-bottom-right-radius: css.getVar(
                            "radius-rounded"
                        );
                        border-top-right-radius: css.getVar("radius-rounded");
                        padding-right: 1.25em;
                    }
                }

                &:last-child .tab-link {
                    @include mixins.ltr {
                        border-bottom-right-radius: css.getVar(
                            "radius-rounded"
                        );
                        border-top-right-radius: css.getVar("radius-rounded");
                        padding-right: 1.25em;
                    }
                    @include mixins.rtl {
                        border-bottom-left-radius: css.getVar("radius-rounded");
                        border-top-left-radius: css.getVar("radius-rounded");
                        padding-left: 1.25em;
                    }
                }
            }
        }

        &.is-pills,
        &.is-pills-rounded {
            @extend .is-toggle;

            .tab-link {
                border-radius: css.getVar("tabs-toggle-link-radius");
                border-color: transparent;
            }
        }

        &.is-pills-rounded {
            @extend .is-toggle-rounded;
        }
    }

    .tabs-content {
        position: relative;
        overflow: visible;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .tab-item {
            flex-shrink: 0;
            flex-basis: auto;
        }

        &.is-transitioning {
            overflow: hidden;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &.is-fullwidth {
        width: 100%;

        .tab,
        .tab-link {
            width: 100%;
        }
    }

    &.is-multiline {
        .tabs {
            flex-wrap: wrap;
            flex-shrink: 1;
        }
    }

    &.is-vertical {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .tabs {
            flex-grow: 0;
            flex-direction: column;
            border-bottom-color: transparent !important;

            .tab-link {
                width: 100%;
            }

            &:not(.is-boxed) {
                .tab:not(:has(+ .tab .tab-link.is-active)) .tab-link {
                    border-bottom-color: css.getVar("tabs-border-bottom-color");
                }
            }

            &.is-boxed {
                .tab-link {
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                    border-right-color: css.getVar("tabs-border-bottom-color");
                    border-radius: css.getVar("tabs-boxed-link-radius") 0 0
                        css.getVar("tabs-boxed-link-radius");

                    &.is-active {
                        border-bottom-color: css.getVar(
                            "tabs-border-bottom-color"
                        );
                        border-left-color: css.getVar(
                            "tabs-border-bottom-color"
                        );
                        border-right-color: transparent;
                    }
                }
            }

            &.is-toggle {
                .tab {
                    + .tab {
                        margin-left: 0;
                    }

                    &:first-child {
                        .tab-link {
                            border-radius: css.getVar("tabs-toggle-link-radius")
                                css.getVar("tabs-toggle-link-radius") 0 0;
                        }
                    }

                    &:last-child {
                        .tab-link {
                            border-radius: 0 0
                                css.getVar("tabs-toggle-link-radius")
                                css.getVar("tabs-toggle-link-radius");
                        }
                    }
                }
            }
        }

        .tabs-content {
            flex-grow: 1;
        }

        &.is-right {
            flex-direction: row-reverse;

            .tabs {
                &.is-boxed {
                    .tab-link {
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                        border-left-color: css.getVar(
                            "tabs-border-bottom-color"
                        );
                        border-radius: 0 css.getVar("tabs-boxed-link-radius")
                            css.getVar("tabs-boxed-link-radius") 0;

                        &.is-active {
                            border-bottom-color: css.getVar(
                                "tabs-border-bottom-color"
                            );
                            border-right-color: css.getVar(
                                "tabs-border-bottom-color"
                            );
                            border-left-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
