@use "bulma/sass/form/input-textarea";
@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;
@use "utils/variables" as vars;

.taginput {
    @include css.register-vars(
        (
            "taginput-height": #{vars.$taginput-height},
            "taginput-tag-size": #{vars.$taginput-tag-size},
        )
    );

    .taginput-container {
        @extend %input-textarea;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
        height: auto;
        cursor: text;

        > .tag {
            margin: 0.25em;
            font-size: css.getVar("taginput-tag-size");
            height: css.getVar("taginput-height");

            .icon.delete {
                margin-left: 0.275rem;
            }
        }

        .autocomplete {
            flex: 1;

            input {
                height: css.getVar("taginput-height");
                margin-top: 0.275em;
                margin-bottom: 0.275em;
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                box-shadow: none;
                min-width: 8em;
            }
        }
    }
}
