@use "bulma/sass/utilities/css-variables" as css;
@use "bulma/sass/utilities/controls" as controls;
@use "../utils/variables" as vars;

.timepicker {
    // use same vars like datepicker here
    @include css.register-vars(
        (
            "datepicker-overlay-box-shadow":
                #{vars.$datepicker-overlay-box-shadow},
            "datepicker-overlay-radius": #{vars.$datepicker-overlay-radius},
            "datepicker-header-spacer": #{vars.$datepicker-header-spacer},
        )
    );

    .input[readonly] {
        cursor: pointer;
        box-shadow: css.getVar("input-shadow");

        &:focus,
        &.is-focused,
        &:active,
        &.is-active {
            box-shadow: css.getVar("input-focus-shadow-size")
                hsla(
                    css.getVar("input-focus-h"),
                    css.getVar("input-focus-s"),
                    css.getVar("input-focus-l"),
                    css.getVar("input-focus-shadow-alpha")
                );
        }
    }

    .select {
        margin: 0 0.125em;

        select {
            font-weight: css.getVar("weight-semibold");
            padding-right: css.getVar("control-padding-horizontal");
            border: 0;
        }

        &:after {
            display: none !important;
        }
    }

    &-overlay {
        width: fit-content;
        border-width: 0;
        border-radius: css.getVar("datepicker-overlay-radius");
        box-shadow: css.getVar("datepicker-overlay-box-shadow");
        padding: css.getVar("datepicker-header-spacer");
        font-size: 1.25em;

        &:not([popover]),
        &:popover-open {
            display: flex;
            gap: calc(css.getVar("datepicker-header-spacer") / 2);
        }
    }

    &-colon {
        font-size: 1.5em;
        line-height: 1;
    }

    .timepicker-footer {
        padding: 0 0.5rem;
    }

    // sizes

    &.is-small {
        @include controls.control-small;
    }

    &.is-medium {
        @include controls.control-medium;
    }

    &.is-large {
        @include controls.control-large;
    }
}
