@use "bulma/bulma";

$tooltip-arrow-size: 5px !default;
$tooltip-arrow-margin: 2px !default;
$tooltip-content-multiline-width: 300px !default;
$tooltip-colors: bulma.$colors !default;

@mixin tooltip-arrow-color($direction, $color) {
    @if ($direction == "is-top") {
        border-top-color: $color;
    } @else if ($direction == "is-bottom") {
        border-bottom-color: $color;
    } @else if ($direction == "is-right") {
        border-right-color: $color;
    } @else if ($direction == "is-left") {
        border-left-color: $color;
    }
}

@mixin tooltip($direction) {
    &-content {
        &.#{$direction} {
            @if ($direction == "is-top") {
                top: auto;
                right: auto;
                bottom: calc(
                    100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin}
                );
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "is-bottom") {
                top: calc(
                    100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin}
                );
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "is-right") {
                top: 50%;
                right: auto;
                bottom: auto;
                left: calc(
                    100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin}
                );
                transform: translateY(-50%);
            } @else if ($direction == "is-left") {
                top: 50%;
                right: calc(
                    100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin}
                );
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }

            &::before {
                @if ($direction == "is-bottom") {
                    top: auto;
                    right: auto;
                    bottom: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-right: $tooltip-arrow-size solid transparent;
                    border-bottom: $tooltip-arrow-size solid bulma.$primary;
                    border-left: $tooltip-arrow-size solid transparent;
                } @else if ($direction == "is-top") {
                    top: 100%;
                    right: auto;
                    bottom: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: $tooltip-arrow-size solid bulma.$primary;
                    border-right: $tooltip-arrow-size solid transparent;
                    border-left: $tooltip-arrow-size solid transparent;
                } @else if ($direction == "is-left") {
                    top: 50%;
                    right: auto;
                    bottom: auto;
                    left: 100%;
                    transform: translateY(-50%);
                    border-top: $tooltip-arrow-size solid transparent;
                    border-bottom: $tooltip-arrow-size solid transparent;
                    border-left: $tooltip-arrow-size solid bulma.$primary;
                } @else if ($direction == "is-right") {
                    top: 50%;
                    right: 100%;
                    bottom: auto;
                    left: auto;
                    transform: translateY(-50%);
                    border-top: $tooltip-arrow-size solid transparent;
                    border-right: $tooltip-arrow-size solid bulma.$primary;
                    border-bottom: $tooltip-arrow-size solid transparent;
                }
            }

            @each $name, $pair in $tooltip-colors {
                $color: nth($pair, 1);
                &.is-#{$name} {
                    &::before {
                        @include tooltip-arrow-color($direction, $color);
                    }
                    // If light and dark colors are provided
                    @if length($pair) >= 4 {
                        $color-light: nth($pair, 3);
                        &.is-light {
                            &::before {
                                @include tooltip-arrow-color(
                                    $direction,
                                    $color-light
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}

// Base
.b-tooltip {
    @include tooltip("is-top");
    @include tooltip("is-right");
    @include tooltip("is-bottom");
    @include tooltip("is-left");
    position: relative;
    display: inline-flex;
    .b-tooltip-content {
        width: auto;
        padding: 0.35rem 0.75rem;
        border-radius: bulma.$radius-large;
        font-size: 0.85rem;
        font-weight: bulma.$weight-normal;
        box-shadow: 0 1px 2px 1px rgba(0, 1, 0, 0.2);
        z-index: 38;
        white-space: nowrap;
        position: absolute;
    }
    .b-tooltip-content::before {
        position: absolute;
        content: "";
        pointer-events: none;
        z-index: 38;
    }
    .b-tooltip-trigger {
        width: 100%;
    }
    // Modifiers
    @each $name, $pair in $tooltip-colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
            .b-tooltip-content {
                background: $color;
                color: $color-invert;
            }
            // If light and dark colors are provided
            @if length($pair) >= 4 {
                $color-light: nth($pair, 3);
                $color-dark: nth($pair, 4);
                &.is-light {
                    .b-tooltip-content {
                        background: $color-light;
                        color: $color-dark;
                    }
                }
            }
        }
    }
    & .b-tooltip-content {
        &.is-always {
            opacity: 1;
            visibility: visible;
        }
        &.is-multiline {
            text-align: center;
            white-space: normal;
            width: $tooltip-content-multiline-width;
        }
    }
    &.is-dashed {
        .b-tooltip-trigger {
            border-bottom: 1px dashed bulma.$grey-light;
            cursor: default;
        }
    }
    &.is-square {
        .b-tooltip-content {
            border-radius: 0;
        }
    }
}
