@use "sass:list";

@use "bulma/sass/utilities/css-variables" as css;
@use "../utils/variables" as vars;

.upload {
    position: relative;

    @include css.register-vars(
        (
            "upload-dragzone-padding": #{vars.$upload-dragzone-padding},
            "upload-bg": #{vars.$upload-bg},
            "upload-border-color": #{vars.$upload-border-color},
        )
    );

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        outline: none;
        cursor: pointer;
        z-index: -1;
    }

    .dragzone {
        cursor: pointer;
        padding: css.getVar("upload-dragzone-padding");
        background-color: css.getVar("upload-bg");
        border: 1px dashed css.getVar("upload-border-color");
        border-radius: css.getVar("radius-large");
    }

    @each $name, $pair in vars.$upload-colors {
        $color: list.nth($pair, 1);

        &.is-#{$name} .dragzone {
            @include css.register-vars(
                (
                    "upload-border-color": #{$color},
                )
            );

            &:hover,
            &.is-hovered {
                @include css.register-vars(
                    (
                        "upload-bg": #{rgba($color, 0.05)},
                        "upload-border-color": #{$color},
                    )
                );
            }
        }
    }

    &.is-expanded {
        width: 100%;

        .upload-dragzone {
            width: 100%;
        }
    }

    &.is-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.is-rounded {
        border-radius: css.getVar("radius-rounded");

        .file-name {
            border-top-right-radius: css.getVar("radius-rounded");
            border-bottom-right-radius: css.getVar("radius-rounded");
        }
    }
}
