// This file tests configuring Bulma and the theme from the theme
// A real world version would likely be much more elaborate, but this should capture the basic idea enough to test the use case.

@use "assets/scss/theme-build.scss" with (
    $primary: #0f0,
    $secondary: #00f,
    $theme-bulma-custom-colors: (
        "fooooo": #f00,
    ),
    $black: #000,
    $dropdown-content-max-height: 300px,
    // breaks
    //$carousel-arrow-color: #f00,
    $checkbox-size: 2em,
    $checkbox-border-radius: 0
);
